{% for post in site.posts %}
  {% if post.title == "My Showcase" %}
    <div class="content-section-a">
		<h1 class="section-title"> {{ post.title }} </h1>
		<h2 class="section-subTitle" align="center"> {{ post.subtitle }} </h2>
		<h3 class="marqueeText"> {{ post.description }} </h3>
	</div>
	
    <script src="../js/textMovement.js"></script>	
    
	<div class="container">
		<div class="row" style="background-color:lavender;">
			<div class="col-md-4">
				<h2 class="showcase-title">Interactive CU Map</h2>
				  <a href="../ICUEMAndroid/index.html">
					<img class="imageOverlap img-responsive" src="/img/services/ICUEM.png" />
				  </a>
			</div>
			<div class="col-md-4">
				<h2 class="showcase-title">Gitlytics</h2>
				  <a href="http://gitlytics.herokuapp.com" >
					<img class="imageOverlap img-responsive" src="/img/services/Gitlytics.png" />
				  </a>
			</div>
			<div class="col-md-4">
				<h2 class="showcase-title">Just My Languages</h2>
				<a href="../d3graph/index.html">
					<img class="imageOverlap img-responsive" src="/img/services/piechart.png" />
				</a>
			</div>
			<svg width=1500 height=60>
		</div>
		<div class="row" style="background-color:lavender;">
			<div class="col-md-4">
				<h2 class="showcase-title">Find My Address</h2>
				<a href="../findzip/index.html">
					<img class="imageOverlap img-responsive" src="/img/services/location.png" />
				</a>
			</div>
			<div class="col-md-4">
				<h2 class="showcase-title">Project5</h2>
				<svg width="1500" height="420">
					<rect x="0" y="35" width="350" height="350" style="fill:white;stroke-width:5;stroke:rgb(0,0,0)"/>
				</svg>
			</div>
			<div class="col-md-4">
				<h2 class="showcase-title">Project6</h2>
				<svg width="1500" height="420">
					<rect x="0" y="35" width="350" height="350" style="fill:white;stroke-width:5;stroke:rgb(0,0,0)"/>
				</svg>
			</div>
			<svg width=1500 height=60>
		</div>
		<div class="row">
			<div class="col-md-4" style="background-color:lavender;">
				<h2 class="showcase-title">Project7</h2>
				<svg width="1500" height="420">
					<rect x="0" y="35" width="350" height="350" style="fill:white;stroke-width:5;stroke:rgb(0,0,0)"/>
				</svg>
			</div>
			<div class="col-md-4" style="background-color:lavender;">
				<h2 class="showcase-title">Project8</h2>
				<svg width="1500" height="420">
					<rect x="0" y="35" width="350" height="350" style="fill:white;stroke-width:5;stroke:rgb(0,0,0)"/>
				</svg>
			</div>
			<div class="col-md-4" style="background-color:lavender;">
				<h2 class="showcase-title">Project9</h2>
				<svg width="1500" height="420">
					<rect x="0" y="35" width="350" height="350" style="fill:white;stroke-width:5;stroke:rgb(0,0,0)"/>
				</svg>
			</div>
		</div>
	</div>
	
	<div class="content-section-b">
		<div class="row" style="text-align:center">
			<svg width="500" height="175">
			<text x="0" y="35"
				  style="font-family: Arial;
						 font-size  : 48;
						 stroke     : #000000;
						 fill       : #00ff00;
						">More To Come Soon</text>
			</svg>
		</div>
	</div>
  {% endif %}
{% endfor %}
