
<div class="divBox" style="background-color: #FF8C00" align="center" >
{% for post in site.posts %}
	{% if post.title == "Find My Address" %}
		<h1 class="section-title" align="center" style="color:#ffffff"> {{ post.title }}</h1>
		<h4 align="center" style="color:#ffffff">{{ post.description }}</h4>
	{% endif %}
{% endfor %}
	
	<button class="buttonStuff" onclick="getLocation()">Find it!</button>	
	
	<p id="latitude" ></p>
	<p id="longitude"></p>
	<p id="zip"></p>
	<p id="address"></p>
	<p id="elevation"></p>

	<script src="https://apis.google.com/js/api.js" type="text/javascript" />
	<script type="text/javascript">
	  gapi.load('auth', init);
	</script>
	<script>
		
		var lat = document.getElementById("latitude");
		var lon = document.getElementById("longitude");
		var zip = document.getElementById("zip");
		var address = document.getElementById("address");
		var elevation = document.getElementById("elevation");
		
		function getLocation(){
			if (navigator.geolocation){
				navigator.geolocation.getCurrentPosition(displayPosition, handleError, {maximumAge:600000, timeout:5000, enableHighAccuracy: true});
				navigator.geolocation.getCurrentPosition(processAddress, handleError, {maximumAge:600000, timeout:5000, enableHighAccuracy: true});
				navigator.geolocation.getCurrentPosition(processElevation, handleError, {maximumAge:600000, timeout:5000, enableHighAccuracy: true});
			}
			else{
				alert("Geolocation is not supported on your browser");
			}
		}
		function handleError(err){
			if (err.code == 1){
				alert("ERROR!");
			}
		}
		
		function displayPosition(position){
			lat.innerHTML = "Latitude: " + position.coords.latitude;
			lon.innerHTML = "Longitude: " + position.coords.longitude;
		}
		
		function processRequest(position, passElevation){
			var xmlhttp = new XMLHttpRequest();
			var elevationURL;
			var url;
			if (passElevation){
				elevationURL = "https://maps.googleapis.com/maps/api/elevation/json?locations=" + position.coords.latitude.toString() + "," + position.coords.longitude.toString() + "&key=AIzaSyAK6Lld74b0Xmpi0D_Lb1LPJdJ01Vb5YxA";
				if ("withCredentials" in xmlhttp){
					xmlhttp.open("GET", elevationURL, true);
				}
				else{
					xmlhttp = null;
				}
			}
			else{
				url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords.latitude.toString() + "," + position.coords.longitude.toString() + "&key=AIzaSyDZfAIAO7XkfzZ1orz2euGFl5gIReN2Ueg";
				if ("withCredentials" in xmlhttp)
					xmlhttp.open("GET", url, true);
			}
			xmlhttp.onreadystatechange = function(){
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
					var myArr = JSON.parse(xmlhttp.responseText);
					if (passElevation)
						getElevation(myArr);
					else{
						getZipCode(myArr);
						getAddress(myArr);
					}
				}
			}
			xmlhttp.send();
				
		}
		
		function processElevation(position){
			processRequest(position, passElevation=true);
		}
		
		function processAddress(position){
			processRequest(position, passElevation=false);
		}
		
		function getZipCode(arr){
			var zipCode = "";
			for (var key in arr.results[0].address_components){
				if (arr.results[0].address_components.hasOwnProperty(key)){
					if (arr.results[0].address_components[key].types == "postal_code"){
						zipCode += arr.results[0].address_components[key].long_name;
					}
				}
			}
			zip.innerHTML = "Zip Code: " + zipCode;
		}

		function getAddress(arr){
			var publicAddress = "";
			publicAddress += arr.results[0].formatted_address;
			address.innerHTML = "Address (at or around): " + publicAddress;
		}
		
		function getElevation(arr){
			alert("WTF");
			var elevationStatus = "";
			elevationStatus += arr.results[0].elevation;
			elevation.innerHTML = "Altitude: " + elevationStatus + " meters";
		}
	</script>

</div>
</div>

